<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/styles0.css">

	<title>{% block title %}{% endblock %} </title>
</head>
<body class="centered">
	<div id="top">
		<h2>42</h2>

		<ul class="nav justify-content-center">
  			<li class="nav-item">
    			<a class="nav-link" href="index.html">HOME</a>
  			</li>
		  	<li class="nav-item">
		   		<a class="nav-link" href="/tools/age">TOOLS</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">PROJECTS</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">TRIVIA!</a>
			 </li>
		</ul>
	</div>

	{% block main %}{% endblock %}

	<footer></footer>
</body>
</html>