<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>42</title>
	<link href="static/styles.css" rel="stylesheet">
</head>
<body>

	<header class="header">
    <div class="container-fluid">
      <div class="header-inner">
        <div class="logo">
          <a class="d-block" href="/">
            <!-- <img class="d-block w-100" src="/static/images/logo-white.png" alt=""> -->
            <h3>WebsiteLogo</h3>
          </a>
        </div>
        <label class="toggle-menu" for="toggle"><span class="toggle-icon"></span></label>
        <input id="toggle" type="checkbox">
        <div class="menu-wrapper">
          <ul class="menu">
            <!-- About -->
            <li class="level-1">
              <a href="">
                <i class="fa-brands fa-facebook-square me-1"></i>
                About
                <i class="fa-solid fa-angle-down ms-1 arrow-down"></i>
              </a>
              <input type="checkbox" id="fb">
              <label for="fb"></label>
              <ul class="submenu">
                <li class="level-2"><a href="https://randomtools.io/facebook-id-card/">Create your FB ID card</a></li>
                <li class="level-2"><a href="https://randomtools.io/open-graph-generator/">Facebook post ID finder</a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/open-graph-generator/">Open graph generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/facebook-share-link-generator/">Facebook Share Link
                    generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/developer-api/">Developer API</a></li>
              </ul>
            </li>
            <!-- Tools -->
            <li class="level-1">
              <a href=""><i class="fa-brands fa-youtube-square me-1"></i> Tools <i
                  class="fa-solid fa-angle-down ms-1 arrow-down"></i></a>
              <input type="checkbox" id="other">
              <label for="other"></label>
              <ul class="submenu">
                <li class="level-2"><a class="d-block" target="_blank"
                    href="https://randomtools.io/reverse-image-search/">Reverse Image Search</a></li>
                <li class="level-2"><a href="https://randomtools.io/flip-a-coin/" class="d-block">Flip a Coin</a></li>
                <li class="level-2"><a href="https://randomtools.io/svg-optimizer/" class="d-block">SVG Optimizer </a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/image-to-text-converter/" class="d-block">Convert
                    Image to Text</a></li>
                <li class="level-2"><a href="https://randomtools.io/qr-code-generator/" class="d-block">QR Code
                    Generator</a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/shopify-theme-detector/" class="d-block">Shopify
                    Theme
                    Detector</a></li>
                <li class="level-2"><a href="https://randomtools.io/wordpress-theme-detector/" class="d-block">Wordpress
                    Theme
                    Detector</a></li>
                <li class="level-2"><a href="https://randomtools.io/cpm-calculator/" class="d-block">CPM calculator</a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/click-counter/" class="d-block">Click Counter</a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/roman-numerals-date-converter/">Roman Numerals Date
                    Converter</a></li>
                <li class="level-2"><a href="https://randomtools.io/reddit-comment-search/" class="d-block">Reddit
                    Comment
                    Search</a></li>
                </ul>
              </li>
            <!-- Simulations -->
            <li class="level-1">
              <a href=""><i class="fa-brands fa-instagram-square me-1"></i> Simulations <i
                  class="fa-solid fa-angle-down ms-1 arrow-down"></i></a>
              <input type="checkbox" id="insta">
              <label for="insta"></label>
              <ul class="submenu">
                <li class="level-2"><a href="https://randomtools.io/find-instagram-id/">Find Instagram ID</a>

                </li>
                <li class="level-2"><a href="https://randomtools.io/instagram-font-generator">Instagram Font
                    Generator</a></li>
              </ul>
            </li>
            <!-- Resources -->
            <li class="level-1">
              <a href=""><i class="fa-brands fa-youtube-square me-1"></i> Resources <i
                  class="fa-solid fa-angle-down ms-1 arrow-down"></i></a>
              <input type="checkbox" id="yt">
              <label for="yt"></label>
              <ul class="submenu">
                <li class="level-2"><a href="https://randomtools.io/youtube-random-comment-picker/">Youtube Random
                    Comment Picker</a></li>
                <li class="level-2"><a href="https://randomtools.io/youtube-channel-info/">Youtube Channel ID, Info &
                    Stats</a></li>
                <li class="level-2"><a href="https://randomtools.io/youtube-video-id-thumbnails/">Youtube video ID &
                    Thumbnails</a></li>
                <li class="level-2"><a href="https://randomtools.io/youtube-money-calculator/">Youtube money
                    calculator</a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/youtube-tags-extractor/">Youtube tags extractor</a>
                </li>
              </ul>
            </li>
            <!-- Trivia -->
            <li class="level-1">
              <a href="">
                <i class="fa-solid fa-shuffle"></i> Trivia
                <i class="fa-solid fa-angle-down ms-1 arrow-down"></i>
              </a>
              <input type="checkbox" id="random">
              <label for="random"></label>
              <ul class="submenu">
                <li class="level-2"><a href="https://randomtools.io/random-number-sequence-generator/">Random Number or
                    sequence Generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/random-password-generator/">Random Password
                    Generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/random-color-generator/">Random Color Generator </a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/random-ipaddress-generator/">Random IP Address
                    Generator </a></li>
                <li class="level-2"><a href="https://randomtools.io/random-country-capital-generator/">Random Country
                    Capital Generator </a></li>
                <li class="level-2"><a href="https://randomtools.io/random-string-generator/">Random String Generator
                  </a></li>
                <li class="level-2"><a target="_blank" href="https://randomtools.io/lottery-number-generator">Lottery
                    Number Generator</a></li>
                <li class="level-2"><a target="_blank" href="https://randomtools.io/animals-name-generator">Random
                    Animal Names Generator</a>
                </li>
                <li class="level-2">
                  <a target="_blank" href="https://randomtools.io/mac-address-generator">Random Mac
                    Address Generator</a>
                </li>
                <li class="level-2">
                  <a target="_blank" href="https://randomtools.io/teams-generator">Random Team
                    Generator</a>
                </li>
              </ul>
            </li>

            <!-- Blog -->
            <li class="level-1">
              <a href="">
                <i class="fa-solid fa-shuffle"></i> Blog
                <i class="fa-solid fa-angle-down ms-1 arrow-down"></i>
              </a>
              <input type="checkbox" id="text">
              <label for="text"></label>
              <ul class="submenu">
                <li class="level-2"><a href="https://randomtools.io/character-count/" class="d-block">Character
                    Count</a>
                </li>
                <li class="level-2"><a href="https://randomtools.io/webpage-word-counter/" class="d-block">Webpage Word
                    Counter
                  </a></li>
                <li class="level-2"><a href="https://randomtools.io/reverse-text/" class="d-block">Reverse Text</a></li>
                <li class="level-2"><a href="https://randomtools.io/random-word-generator/" class="d-block">Random Word
                    Generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/male-female-name-generator/" class="d-block">Name
                    Generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/combination-generator/" class="d-block">Combination
                    Generator</a></li>
                <li class="level-2"><a href="https://randomtools.io/slug-generator/" class="d-block">Online Slug
                    Generator</a>
                </li>

                <li class="level-2">
                  <a class="d-block" target="_blank" href="https://randomtools.io/hashtag-counter">Hashtag Counter</a>
                </li>
                <li class="level-2">
                  <a class="d-block" target="_blank" href="https://randomtools.io/uuid-converter">UUID Generator</a>
                </li>
                <li class="level-2">
                  <a class="d-block" target="_blank" href="https://randomtools.io/small-text-generator">Small Text
                    Generator</a>
                </li>
                <li class="level-2">
                  <a class="d-block" target="_blank" href="https://randomtools.io/word-combiner/">Word Combiner</a>
                </li>
              </ul>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    {% block main %}{% endblock %}

    <!-- To Implement 
    <p>
    	<img class="container-fluid" src="index.jpg">
    </p>
  -->

    <footer class="footer py-3">
      <div class="container">
        <div class="d-flex">
          <div>© Bhagath</div>
          <div>
            <!-- <a href="/privacy/">Privacy Policy</a> -->
            <!-- <a href="/terms/">Terms and Conditions</a> -->
            <!-- <a href="/disclaimer/">Disclaimer</a> -->
            <a href="#">Contact</a>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>